[Desktop Entry]
Type=Action
Name=Upload with pyshare
Profiles=profile-zero;

[X-Action-Profile profile-zero]
Exec=/home/kageru/pyshare/pyshare.py %f
Name=Default profile
